/*
 Scott Caruso
 AVF 1210
 Tablet Styles
 */

body {
	font-family: "Avenir-Medium";
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

 p {
 	font-size: 14px;
 	font-family: "Avenir-Medium";
 }

 section {
 	padding-bottom: 12px;
 }